*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(18, 18, 18);
    font-size: 14px;
}
.bg-white-200{
    background: #f8f8f8;
}
.epicot_h{
    background-color: #2a2a2a;
}
.shieldLogo{
    width: 52px;
    height: 52px;
}
.rightNav{
    display: flex;
    justify-content: right;
    align-items: center;
}
.bg-black-18{
    background-color: rgb(18, 18, 18);
}
.bg-color{
    height: 3.7em;
    max-height: 3.7em;
    background-color: #2a2a2a;
}
.bar-bg{
    background: rgb(42, 42, 42);
}
.navAct{
    border-bottom: 2px solid #3c3cf1;
}
.border-left{
    border-left: 1px solid rgb(204, 204, 204);
}
.text-gray-500{
    color: rgb(204, 204, 204);
}
.navbar-collapse .navbar-nav .nav-item:hover{
    color: #464646;
    -webkit-transition: border-bottom-width .15s ease-in-out,color .15s ease-in-out;
    -o-transition: border-bottom-width .15s ease-in-out,color .15s ease-in-out;
    transition: border-bottom-width .15s ease-in-out,color .15s ease-in-out;
    border-bottom: 2px solid #0074e4;
}
.navbar-collapse .navbar-nav .nav-item.active{
    color: #464646;
    -webkit-transition: border-bottom-width .15s ease-in-out,color .15s ease-in-out;
    -o-transition: border-bottom-width .15s ease-in-out,color .15s ease-in-out;
    transition: border-bottom-width .15s ease-in-out,color .15s ease-in-out;
    border-bottom: 2px solid #0074e4;
}
.btn-login:hover{
    color: #464646;
}
.nav-link1 {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(204, 204, 204);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}
.font-size-twenty{
    font-size: 20px;
}
.font-size-fourteen{
    font-size: 14px;
}
.search {
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.w {
    width: 1080px;
    margin: 0 auto;
}
.search_input {
    width: 230px;
    height: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    background: url(../../images/browse/search.png) no-repeat left 10px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 40px;
}
.search_tab a {
    margin-left: 30px;
    color: #6d6d6d;
    text-decoration: none;
}
.search_input input {
    background-color: rgb(32, 32, 32);
    border: 0;
    color: #fff;
}
.search_tab a.active{
    color: #fff;
}
.cart-container{
    color: rgb(245, 245, 245);
    background: rgb(18, 18, 18);
    position: relative;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1600px;
}
.css-r2r3m1 {
    padding-bottom: 90px;
}
.css-1q9jlv0{
    margin-bottom: 0;
    margin-top: 0;
}
.css-yewo14 {
    margin: 0 auto;
    max-width: 1920px;
}
.css-1p2cbqg {
    margin-bottom: 50px;
}
.css-1gty6cv {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.5px;
    color: rgb(245, 245, 245);
}
.css-map4tx {
    flex-wrap: nowrap;
    display: flex;
    flex-flow: row wrap;
}
.css-11fvpc2 {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-dvxtzn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-1xn3edc {
    margin-bottom: 30px;
}
.css-14aopxi {
    display: block;
    line-height: 0;
    width: 80px;
    height: 80px;
    color: rgb(58, 58, 58);
}
.css-1upilqn {
    margin-bottom: 12px;
}
.css-mywzwd {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.5px;
    transition: color 125ms ease-in-out 0s;
    color: rgb(245, 245, 245);
    font-weight: 300;
}
.css-8dq9ld{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(245, 245, 245, 0.6);
}
.css-8dq9ld:hover{
    transition: .5s;
    color: rgb(245, 245, 245);
}